body {
	background: #202032;
	color: #E1E1E1;
}

.fa-caret-up, .fa-caret-right, .fa-caret-down, .fa-caret-left {
	font-size: 10em;
	color: #E1E1E1;
	transition: color 0.15s ease-in;
}

.fa-caret-up:hover, .fa-caret-right:hover, .fa-caret-down:hover, .fa-caret-left:hover {
	cursor: pointer;
	color: dodgerblue;
	transition: color 0.25s ease-out;
}

#slideout-about-me {
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	color: #333;
	position: fixed;
	top: -25%;
	right: 10%;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 1.3s;
	-o-transition-duration: 1.3s;
	transition-duration: 1.25s;
}

#slideout-about-me.on {
	top: 30%;
}

#slideout-resume {
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	color: #333;
	position: fixed;
	left: -100%;
	bottom: 15%;
	height: 40rem;
	width: 50rem;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 1.3s;
	transition-duration: 1.25s;
}

#slideout-resume.on {
	left: 21.5%;
}

#slideout-projects {
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	color: #333;
	position: fixed;
	right: -90%;
	top: 8%;
	width: 40rem;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 1.3s;
	-o-transition-duration: 1.3s;
	transition-duration: 1.25s;
}

#slideout-projects.on {
	right: 27%;
}

#slideout-contact-form {
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	color: #333;
	position: fixed;
	bottom: -90%;
	right: 22%;
	width: 50rem;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 1.3s;
	-o-transition-duration: 1.3s;
	transition-duration: 1.25s;
}

#slideout-contact-form.on {
	bottom: 30%;
}