body {
	background: #202032;
	color: #E1E1E1;
	height: 100vh;
	align-items: center;
	display: flex;
}

img {
	padding: 2em;
}

h4 {
	font-size: 50px;
}

em {
	font-weight: bold;
}

/*.modal {*/
	/*color: #000;*/
/*}*/

.modal-content {
	background-color: rgba(45, 45, 45, 1);
}

.fa-caret-up, .fa-caret-right, .fa-caret-down, .fa-caret-left {
	font-size: 10em;
	color: #E1E1E1;
	transition: color 0.15s ease-in;
}

.fa-caret-up:hover, .fa-caret-right:hover, .fa-caret-down:hover, .fa-caret-left:hover {
	cursor: pointer;
	color: dodgerblue;
	transition: color 0.25s ease-out;
}

.fa-twitter-square, .fa-github-square, .fa-linkedin-square {
	font-size: 5rem;
	align-items: center;
	padding-bottom: 1rem;
}

.modal-header {
	border-bottom: none;
	margin-left: -5rem;
	margin-right: -2rem;
}
.modal-title {
	margin-top: 1rem;
}

.close {
	display: block;
	font-size: 10rem;
	color: crimson;
	opacity: .5;
}

.modal-header .close {
	margin-top: -15px;
}

.g-recaptcha {
	padding: 2rem 0;
}

#output-area {
	margin-bottom: 2rem;
}

#middle-navigation {
	display: flex;
	align-items: center;
}


/*.border {*/
	/*border: 1px solid white;*/
/*}*/